
<h1 class="page-title">Experience</h1>
<div class="page-container">
    <div class="custom-carousel-nav-container">
        <div class="custom-carousel-nav">
            <div (click)="scroll(section0, 0)" class="custom-carousel-item active" id="carousel-item-0">
            </div>
            <div class="custom-carousel-separator">
            </div>
            <div (click)="scroll(section1, 1)" class="custom-carousel-item " id="carousel-item-1">
            </div>
            <div class="custom-carousel-separator">
            </div>
            <div (click)="scroll(section2, 2)" class="custom-carousel-item minor" id="carousel-item-2">
            </div>
            <div class="custom-carousel-separator">
            </div>
            <div (click)="scroll(section3, 3)" class="custom-carousel-item" id="carousel-item-3">
            </div>
            <div class="custom-carousel-separator">
            </div>
            <div (click)="scroll(section4, 4)" class="custom-carousel-item " id="carousel-item-4">
            </div>
            <div class="custom-carousel-separator">
            </div>
            <div (click)="scroll(section5, 5)" class="custom-carousel-item minor" id="carousel-item-5">
            </div>
        </div>
    </div>
    
    <div class="section-outer-container">
        <div class="section-container">
            <section class="section-item hidden" #section0 sectionNumber=0>
                <header>
                    <h2 class="title">Senior Development Engineer</h2><h5 class="organisation-title"> - Griffith University (Brisbane)</h5>
                    <div>
                        <h6 class="time-title">May 2022 - present</h6>
                    </div>
                </header>

                <div class="pill-container">
                    <span class="pill-item">.Net Framework</span>
                    <span class="pill-item">ASP.NET</span>
                    <span class="pill-item">Angular 13</span>
                    <span class="pill-item">.Net 5</span>
                    <span class="pill-item">GitLab / Azure DevOps</span>
                    <span class="pill-item">Octopus Deploy</span>
                    <span class="pill-item">Oracle Sql</span>
                </div>

                <ul class="content-container">
                    <li class="content-item">
                        Took on a leading role within the team and took on initiatives to improve development, testing processes and documentation. Examples include moving to a 
                        git workflow process, introduction of end-to-end testing and creation of a knowledge base to share 
                        and preserve team / company internal knowledge.
                    </li>
                    <li class="content-item">
                        Provide guidance to other teams and developers on the applications we support.
                    </li>
                    <li class="content-item">
                        Taking on initiatives to modernise applications by redesigning our applications in Angular and .Net and transition to azure cloud services.
                    </li>
                    <li class="content-item">
                        Continued to deliver updates to .Net Framework applications and resolve bugs, working with stakeholders to document and deliver on acceptance criteria.
                    </li>
                </ul>
                
            </section>

            <section class="section-item hidden" #section1 sectionNumber=1>
                <header style="padding-top: 20px;">
                    <h2 class="title">Development Engineer</h2><h5 class="organisation-title"> - Griffith University (Brisbane)</h5>
                    <div>
                        <h6 class="time-title">July 2021 - May 2022</h6>
                        <h6 class="time-title">( 10 months )</h6>
                    </div>
                </header>

                <div class="pill-container">
                    <span class="pill-item">.Net Framework</span>
                    <span class="pill-item">ASP.NET</span>
                    <span class="pill-item">Angular 13</span>
                    <span class="pill-item">.Net 5</span>
                    <span class="pill-item">GitLab / Azure DevOps</span>
                    <span class="pill-item">Octopus Deploy</span>
                    <span class="pill-item">Oracle Sql</span>
                </div>

                <ul class="content-container">
                    <li class="content-item">
                        Worked with stakeholders to deliver updates and bug fixes to student facing applications in .Net, .Net framework and ASP.NET.
                    </li>
                    <li class="content-item">
                        Assisted in development of a new web application in .Net 5 and Angular 13 for students to plan their courses and review their degree progress.
                    </li>
                </ul>
            </section>

            <section class="section-item hidden" #section2 sectionNumber=2>
                <header>
                    <h2 class="title">Volunteer C/C++ Embedded Software Developer</h2><h5 class="organisation-title"> - Griffith University (Gold Coast)</h5>
                    <div>
                        <h6 class="time-title">June 2020 - March 2021</h6>
                    </div>
                </header>

                <div class="pill-container">
                    <span class="pill-item">Assembly / C / C++</span>
                    <span class="pill-item">Python</span>
                    <span class="pill-item">PyQt5</span>
                </div>

                <ul class="content-container">
                    <li class="content-item">
                        Volunteered to complete a project for the university to create a reliable system for operating a photometry experiment with C/C++, 
                        Assembly and Python. Using a Tiva microcontroller for operating a linear stage with stepper motors and receiving data from sensors 
                        (written with µVision IDE). And a desktop application for sending instructions and plotting/saving experiment data written in Python and PyQt5.
                    </li>
                </ul>
            </section>
    
            <section class="section-item hidden" #section3 sectionNumber=3>
                <header>
                    <h2 class="title">.Net Software Web Developer</h2><h5 class="organisation-title"> - Pivotel Group (Gold Coast)</h5>
                    <div>
                        <h6 class="time-title">January 2020 - July 2021</h6>
                        <h6 class="time-title">( 1 year, 6 months )</h6>
                    </div>
                </header>

                <div class="pill-container">
                    <span class="pill-item">.Net Framework</span>
                    <span class="pill-item">ASP.NET</span>
                    <span class="pill-item">AngularJs</span>
                    <span class="pill-item">PHP</span>
                    <span class="pill-item">Microsoft dynamics CRM</span>
                    <span class="pill-item">Microsoft Sql</span>
                </div>

                <ul class="content-container">
                    <li class="content-item">
                        Working with C#, Asp.Net, Microsoft CRM, SQL, the .Net Framework, and PHP to create and expand our customer-facing and internal enterprise applications 
                        which manage the company's products, services, and customer data. Improving process automation for business efficiency and complete API integrations with other applications.
                    </li>
                </ul>
            </section>
    
            <section class="section-item hidden" #section4 sectionNumber=4>
                <header>
                    <h2 class="title">Junior Software Engineer</h2><h5 class="organisation-title"> - Vald Performance (Brisbane)</h5>
                    <div>
                        <h6 class="time-title">January 2019 - January 2020</h6>
                        <h6 class="time-title">( 7 months )</h6>
                    </div>
                </header>

                <div class="pill-container">
                    <span class="pill-item">.Net Core 3.1</span>
                    <span class="pill-item">React</span>
                    <span class="pill-item">Python</span>
                    <span class="pill-item">Azure DevOps</span>
                </div>

                <ul class="content-container">
                    <li class="content-item">
                        Worked with .Net Core to build an event driven distributed system 
                        (using NimbusAPI with Redis) for our products to handle data aggregation, including unit and integration testing (XUnit).
                    </li>
                    <li class="content-item">
                        Developed a web application with Typescript, React, Material UI, Axios to monitor the health status of all our product's API's, 
                        manage user / client information, their claims to products and teams of users.
                    </li>
                    <li class="content-item">
                        Data mining/analysis work on our users and teams to deliver reports for sporting leagues like UEFA, EPL and ECL using Python 
                        with Pandas, Seaborn, Docker. 
                    </li>
                </ul>
            </section>

            <section class="section-item hidden" #section5 sectionNumber=5>
                <header>
                    <h2 class="title">Treasurer</h2><h5 class="organisation-title"> - Griffith Aritifical Intelligence Society (Gold Coast)</h5>
                    <div>
                        <h6 class="time-title">January 2019 - December 2019</h6>
                    </div>
                </header>

                <ul class="content-container">
                    <li class="content-item">
                        I was one of the 4 key committee members that ran the society to organise speaker events with our 
                        lecturers/professors, group projects, social and educational events.
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
