
<div class="home paragraph-font">
    <div class="home-item text-center">
        <div class="home-text-content">
            <h2>Hi, I'm Josh</h2>
            <h5>I'm a software engineer working in web development in the Brisbane area with more than 3 years experience.</h5>
            <br>
            <h5>
                Currently working as the senior developer in the student experience team at Griffith univerisity.
                Previously, worked for Pivotel group after graduating from a Bachelor of Computer Science at Griffith University on the Gold Coast.
            </h5>
        </div>
    </div>
    <div class="home-item image-box">
        <img src="/assets/images/personal_image_crop.png" class="home-image">
    </div>
</div>

<!-- <app-about></app-about> -->