
<div class="home">
        <div class="home-item text-center">
            <div class="home-text-content">
                <h4>I'm a software engineer working in web development in the Brisbane area.</h4>
                <br>
                <h4>Currently working as the senior developer in the student experience team at Griffith univerisity</h4>
            </div>
        </div>
        <div class="home-item image-box">
            <img src="/assets/images/personal_image_crop.png" class="home-image">
        </div>

</div>