@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$home-content-border-radius: 0.6rem;
$home-image-width-xs: 65vw;
$home-image-width-md: 50vw;
$home-image-width-lg: 45vw;
$home-image-width-xl: 35vw;
$home-image-max-width: 900px;


@include media-breakpoint-down(md)
{
    .home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;


        height: 100vh;
        width: 100%;
        padding: 0 10%;
        padding-top: 15vh;
    
        .home-item {
            width: 100%;
            flex: 1 1 auto;
        }

        .home-text-content {
            padding: 1rem;
            text-align: center;
        }

        .image-box {
            text-align: center;
            width: $home-image-width-xs;
        }
        
        .home-image {
            width: $home-image-width-xs;
            border-radius: $home-content-border-radius;
        }
        
        animation: fade-in 1.5s;

        @keyframes fade-in {
            from { opacity: 0; transform: translateY(25px); }
            to { opacity: 1; }
        }
    }
    
}

@include media-breakpoint-up(lg) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 0 10%;

        .home-item {
            width: 50%;
            flex: 1 1 auto;
        }

        .home-text-content {
            margin-right: 10%;
            padding: 1rem;
            text-align: left;
        }

        .image-box {
            margin-top: 100px;
            text-align: center;
            width: $home-image-width-lg;
        }

        .home-image {
            width: $home-image-width-lg;
            border-radius: $home-content-border-radius;
        }

        animation: fade-in 2s;

        @keyframes fade-in {
            from { opacity: 0; transform: translateY(25px); }
            to { opacity: 1; }
        }
    }
}
@include media-breakpoint-up(xl) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 0 10%;

        .home-item {
            width: 50%;
            flex: 1 1 auto;
        }

        .home-text-content {
            margin: 0 10%;
            padding: 1rem;
        
        }

        .image-box {
            margin-top: 100px;
            text-align: center;
            width: $home-image-width-xl;
            max-width: $home-image-max-width;
        }

        .home-image {
            width: $home-image-width-xl;
            max-width: $home-image-max-width;
            border-radius: $home-content-border-radius;
        }

        animation: fade-in 2s;

        @keyframes fade-in {
            from { opacity: 0; transform: translateY(25px); }
            to { opacity: 1; }
        }

    }
}

@include media-breakpoint-between(md, lg) {
    .home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 0 10%;
        flex-direction: column-reverse;
        padding-top: 10%;

        .home-item {
            width: 80%;
            flex: 1 1 auto;
        }

        .home-text-content {
            text-align: center;
            padding: 1rem;
        }

        .image-box {
            text-align: center;
            width: $home-image-width-md;
        }

        .home-image {
            width: $home-image-width-md;
            border-radius: $home-content-border-radius;
        }
        
        animation: fade-in 2s;

        @keyframes fade-in {
            from { opacity: 0; transform: translateY(25px); }
            to { opacity: 1; }
        }
    }
}