<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Joshua Mitchell</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/work" routerLinkActive="active" href="work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" href="content">Contact</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/joshua-mitchell-/">
                    <img src="/assets/images/LinkedIn-Logos/LI-In-Bug.png" style="margin-top: 10px; height: 20px;">
                </a>
            </li>
        </ul>
    </div>
</nav>