.active{
    color: var(--primary);

    div {
        height: 0;
        border-radius: 2rem;
        border: 2px solid #c67f5d;
        margin-top: 1px;
        background-color: #c67f5d;
    }
}

.icon {

    padding-top: 6px;

    img {
        height: 20px;
        fill: var(--on-background);
    }
}