@import "./theme.scss";

$navbar-custom-color: whitesmoke;
$navbar-height: 5rem;

$nav-link-color: #080808;
$nav-link-active-color: #f04324;
$nav-link-hover-color: #343434;

.navbar-container { 
    position: absolute;
}

.navbar {
    @extend .navbar;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: $navbar-height;
    background-color: var(--background);
}

.navbar-brand {
    color: var(--on-background);
}

.navbar-brand:hover {
    color: var(--on-background);
}

.nav-item{
    color: $nav-link-color;
}

.nav-link {
    color: var(--nav-link-default);
}

.nav-link::after {
    position: relative;
    display: block;
    content: '';
    background-color: var(--nav-link-default);
    border-radius: 0.5rem;
    width: 100%;
    height: 2px;
    top: 0.1rem;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link:active {
    color: $nav-link-active-color;
}

.nav-link:hover {
    color: var(--nav-link-hover);
}

a.active:hover{
    color: var(--nav-link-hover);
}

