:root {
    --primary: #d39818;
    --on-primary: #ffffff;
    --container-primary: #ffdeab;
    --on-container-primary: #271900;

    --secondary: #356a21;
    --on-secondary: #ffffff;
    --container-secondary: #b5f399;
    --on-container-secondary: #052100;

    --tertiary: #006687;
    --on-tiertiary: #ffffff;
    --container-tertiary: #c1e8ff;
    --on-container-tertiary: #001e2b;

    --error: #ba1a1a;
    --on-error: #ffffff;
    --container-error: #ffdad6;
    --on-container-error: #410002;

    --background: whitesmoke;//#fffbff;
    --on-background: #1f1b16;

    --surface: #fffbff;
    --on-surface: #1f1b16;

    --surface-variant: #eee0cf;
    --on-surface-variant: #4e4539;

    --outline: #807667;
    --nav-link-default: black;
    --nav-link-hover: var(--tertiary);
    --nav-link-underline: black;

    --timeline-active: rgb(252, 212, 101);

    --selection: rgb(220, 216, 202);//#7fcb98;
}

.dark-theme {
    --primary: #fabc49;
    --on-primary: #422c00;
    --container-primary: #5f4100;
    --on-container-primary: #ffdeab;

    --secondary: #9ad680;
    --on-secondary: #0c3900;
    --container-secondary: #1d5109;
    --on-container-secondary: #b5f399;

    --tertiary: #74d1ff;
    --on-tiertiary: #003548;
    --container-tertiary: #004d67;
    --on-container-tertiary: #c1e8ff;

    --error: #ffb4ab;
    --on-error: #690005;
    --container-error: #93000a;
    --on-container-error: #ffdad6;

    --background: #1f1b16;
    --on-background: #eae1d9;

    --surface: #1f1b16;
    --on-surface: #eae1d9;

    --surface-variant: #4e4539;
    --on-service-varient: #d2c5b4;

    --outline: #9a8f80;

    --nav-link-default: white;
    --nav-link-hover: var(--on-container-tertiary);
    --nav-link-underline: white;

    --selection: rgb(146, 144, 137);//#459660;
}

body {
    background-color: var(--background);
    color: var(--on-background);
}

.title-font {
    // font-family: roboto,sans-serif;
    font-weight: 300;
    font-style: normal;
}

.paragraph-font {
    font-family: quasimoda,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.show-border {
    border: 3px solid;
}

::selection {
    background: var(--selection);
}